!.editorconfig
!.gitattributes
!.htaccess
!.user.ini
!.gitignore
*\.log
.git
.git/*
.circleci
.circleci/*
tmp
tmp/*
tmp/*.*
tmp/.*
security_file
blob_nvidia/NVIDIA-Linux-x86_64-340.107-kernel-5.3-patched.run
messenger/viber/gnome-sdk.gpg
messenger/viber/gnome-sdk.gpg.1
